<a href="https://colab.research.google.com/github/placemedas/Python-Learner-Toolkit---DataScience/blob/master/Pandas_Beginners_Guide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
print("Pandas Version", pd.__version__)

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

Pandas Version 1.0.5

### Pandas has 2 data structures - Series and DataFrames. Examples are below

In [ ]:
# Creation of a simple pandas series
series = pd.Series([2,3,7,11,13,17,19,23])
print(series)

0     2
1     3
2     7
3    11
4    13
5    17
6    19
7    23
dtype: int64

In [ ]:
#Creating a dataframe from a series
series_df = pd.DataFrame({'A': range(1,5),
                          'B': pd.Timestamp('20190526'),
                          'C': pd.Series(5, index=list(range(4)),dtype = 'float64'),
                          'D': np.array([3] * 4, dtype = 'int64'),
                          'E': pd.Categorical(['Depression','Social Anxiety','Bipolar Disorder','Eating Disorder']),
                          'F': 'Mental Health',
                          'G': 'is challenging'})
print(series_df)

   A          B    C  D                 E              F               G
0  1 2019-05-26  5.0  3        Depression  Mental Health  is challenging
1  2 2019-05-26  5.0  3    Social Anxiety  Mental Health  is challenging
2  3 2019-05-26  5.0  3  Bipolar Disorder  Mental Health  is challenging
3  4 2019-05-26  5.0  3   Eating Disorder  Mental Health  is challenging

In [ ]:
#Create a dataframe from a dictionary
dict_df = [{'A': 'Apple','B': 'Ball'},{'A': 'Aeroplane', 'B': 'Bat','C': 'Cat'}]
dict_df = pd.DataFrame(dict_df)
print(dict_df)

           A     B    C
0      Apple  Ball  NaN
1  Aeroplane   Bat  Cat

In [ ]:
#Creating a dataframe from ndarrays
sdf = {'County':['Ostfold','Hordaland','Oslo','Hedmark','Oppland','Buskerud'],
       'ISO-Code':[1,2,3,4,5,6],
       'Area':[4180,4917,454.07,27397.76,25192.10,14910.94],
       'Administrative Center': ["Sarpsborg",'Oslo','City of Oslo','Hamar','Lillehamar','Dramen']}
sdf = pd.DataFrame(sdf)
print(sdf)

      County  ISO-Code      Area Administrative Center
0    Ostfold         1   4180.00             Sarpsborg
1  Hordaland         2   4917.00                  Oslo
2       Oslo         3    454.07          City of Oslo
3    Hedmark         4  27397.76                 Hamar
4    Oppland         5  25192.10            Lillehamar
5   Buskerud         6  14910.94                Dramen

In [ ]:
#Loading a dataframe from an external source
columns = ['age', 'workclass', 'fnlwgt', 'education',
'education_num',
 'marital_status', 'occupation', 'relationship', 'ethnicity',
'gender','capital_gain','capital_loss','hours_per_week','country_of_origin','income']
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',names=columns)
df.head(10)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,country_of_origin,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [ ]:
# To know about the type of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                32561 non-null  int64
 1   workclass          32561 non-null  object
 2   fnlwgt             32561 non-null  int64
 3   education          32561 non-null  object
 4   education_num      32561 non-null  int64
 5   marital_status     32561 non-null  object
 6   occupation         32561 non-null  object
 7   relationship       32561 non-null  object
 8   ethnicity          32561 non-null  object
 9   gender             32561 non-null  object
 10  capital_gain       32561 non-null  int64
 11  capital_loss       32561 non-null  int64
 12  hours_per_week     32561 non-null  int64
 13  country_of_origin  32561 non-null  object
 14  income             32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
#Select a row
df.iloc[10]

age                                   37
workclass                        Private
fnlwgt                            280464
education                   Some-college
education_num                         10
marital_status        Married-civ-spouse
occupation               Exec-managerial
relationship                     Husband
ethnicity                          Black
gender                              Male
capital_gain                           0
capital_loss                           0
hours_per_week                        80
country_of_origin          United-States
income                              >50K
Name: 10, dtype: object

In [ ]:
#Select 10 rows
df.iloc[0:10]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,country_of_origin,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [ ]:
#Select a range of rows
df.iloc[10:15]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,country_of_origin,income
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K

In [ ]:
#Select last 2 rows
df.iloc[-2:]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,country_of_origin,income
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
#Select every other row in column 3-5
df.iloc[::2, 3:5].head()

    education  education_num
0   Bachelors             13
2     HS-grad              9
4   Bachelors             13
6         9th              5
8     Masters             14

In [3]:
#Combine numpy and pandas to create a dataframe
np.random.seed(24)
df = pd.DataFrame({'F': np.linspace(1, 10, 10)})
df = pd.concat([df,pd.DataFrame(np.random.randn(10,5),columns = list('EDCBA'))],axis=1)
df.iloc[0,2] = np.nan
df

      F         E         D         C         B         A
0   1.0  1.329212       NaN -0.316280 -0.990810 -1.070816
1   2.0 -1.438713  0.564417  0.295722 -1.626404  0.219565
2   3.0  0.678805  1.889273  0.961538  0.104011 -0.481165
3   4.0  0.850229  1.453425  1.057737  0.165562  0.515018
4   5.0 -1.336936  0.562861  1.392855 -0.063328  0.121668
5   6.0  1.207603 -0.002040  1.627796  0.354493  1.037528
6   7.0 -0.385684  0.519818  1.686583 -1.325963  1.428984
7   8.0 -2.089354 -0.129820  0.631523 -0.586538  0.290720
8   9.0  1.264103  0.290035 -1.970288  0.803906  1.030550
9  10.0  0.118098 -0.021853  0.046841 -1.628753 -0.392361

In [4]:
#Style the above dataframe using a custom rule
def colorNeg(value):
  if value < 0:
    color = 'red'
  elif value > 0:
    color = 'black'
  else:
    color = 'green'
  return 'color: %s' % color

s = df.style.applymap(colorNeg,subset=['A','B','C','D','E'])
s

In [5]:
def highlightMax(s):
  isMax = s == s.max()
  return ['background-color: orange' if v else '' for v in isMax]

def highlightMin(s):
  isMin = s == s.min()
  return ['background-color: green' if v else '' for v in isMin]

df.style.apply(highlightMax).apply(highlightMin).highlight_null(null_color = 'red')

In [6]:
import seaborn as sns
colorMap = sns.light_palette("pink",as_cmap = True)
styled = df.style.background_gradient(cmap = colorMap)
styled

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm